.header-logo {
  max-height: 50px;
}
.navbar .nav-link, .navbar-brand, footer a {
  color: white !important; /* Texto blanco en header y footer */
}
.navbar {
  background-color: #14837D; /* Header */
}
.form-control {
  background-color: #9CB4CC; /* Barra de búsqueda */
  border: none;
}
.carousel-inner {
  background-color: #9FDCD7; /* Carrusel */
}
footer {
  background-color: #14837D; /* Footer */
  color: white;
}
.footer-links a {
  text-decoration: none;
  color: white;
  margin-right: 15px;
}
.social-icons img {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

body {
  background-color: #f8f9fa;
}

header {
  text-align: center;
}

.list-group-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}